<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="template.html::head">
</head>
<body>
<div th:replace="template.html::navbar"></div>
<div class="container" >
    <br/><header><h3>My passwords</h3></header>
    <div th:if="${param.success}">
        Added new possition succesfully
    </div>

    <div style="text-align: center">
        <!--<table class="dataTable">-->
        <table class="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="position : ${data}">
                <tr>
                <td th:text="${position.website}"></td>
                <td><button class="btn btn-light btn-sm" type="button" data-toggle="collapse" th:data-target="${'#'+position.website}" aria-expanded="false" aria-controls="collapseExample"><!--data-target="#collapseExample"-->
                    show
                </button>
                    <div class="collapse"  th:id="${position.website}"> <!--id="collapseExample"-->
                        <div class="card card-body" th:text="${position.password}">
                            <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.-->
                        </div>
                    </div>
                </td>


                </tr>

            </th:block>
            </tbody>
        </table>
    </div>


</div>

<div th:replace="template.html::js-include"></div>
</body>
</html>