<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="template.html::head">
    <title>Login page</title>
</head>
<body>
<div th:replace="template.html::navbar"></div>
<div class="container" style="width: 400px;">
    <!--<div th:replace="template.html::header"></div>-->
    <br/><header><h3>Login page</h3></header>
    <div th:if="${param.error}" style="text-align: center">
        Invalid username or password.
    </div>

    <div th:if="${param.logout}" style="text-align: center">
        You have been logged out.
    </div>

    <div th:if="${confirmationMessage}" class="alert alert-success" role="alert" style="text-align: center">
        Confirmation message has been send to your email address.
    </div>

    <div th:if="${confirmed}" class="alert alert-success" role="alert">
        <p th:text="${confirmed}"></p>
    </div>
    <div th:if="${messageError}" class="alert alert-danger" role="alert">
        <p th:text="${messageError}">danger</p>
    </div>

    <div th:if="${messageWarning}" class="alert alert-warning" role="alert" >
        <p th:text="${messageWarning}">warning</p>
    </div>


    <!--/login is set in MvcConfig class not in controllers classes-->
    <!--<form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" autofocus="autofocus"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>-->

    <form th:action="@{/loginCheckpoint}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Login</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username" autofocus="autofocus">
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <!--<div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <!--<div class="form">
        <form action="/login" method="post">
            Login: <br>
            <input type="text" name="login"><br>
            Password: <br>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </div>-->

    <!--<div th:replace="template.html::footer"/>-->
</div>

</body>
</html>