<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="form">
        <form action="/user/add" method="post">
            <labal for="login">Login:</labal>
            <input type="text" name="login" id="login"><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br>
            Dodaj potwierdzenie hasła

            <label for="name">Name:</label>
            <input type="text" name="name" id="name"><br>

            <label for="surname">Surname:</label>
            <input type="text" name="surname" id="surname"><br>

            <label for="email">Email:</label>
            <input type="text" name="email" id="email"><br>

            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>